{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}


{% block body %}
    <h1>Utilisateur</h1>
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

{% if is_granted('ROLE_ADMIN') %}
<a href="{{ path('app_user_index') }}"> <button type="button" class="btn btn-dark disabled">Retour</button></a>
<a href="{{ path('app_user_edit', {'id': user.id}) }}"> <button type="button" class="btn btn-warning">Modifier</button></a>

    {% endif %}
{% endblock %}
